body{
    font-family: 'Poppins', sans-serif;
    background-color:gainsboro;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
    background-size: cover;
    display: flex;
  }

  li {
    text-align:center;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 5%;
  }

  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: lavenderblush;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lemonchiffon;
    min-width: 160px;
    box-shadow: 5px 8px 16px lightsalmon;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

h1{
    font-weight: 900;
    font-style: bold;
}
h2{
    font-weight:700;
    text-align:center;
}
h3{
    text-align:center;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    padding-right: 15%;
}
.highlighted-color{
    color: orchid;
}
.half-width{
    width:50%;
    padding-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.half-width img{
    width:50%;
}
.link-button{
    text-align: center;
    text-decoration: none;
    font-weight:700;
    color: white;
    background-image: linear-gradient(coral, hsl(61, 100%, 74%));
    box-shadow: 5px 5px 10px lightsalmon;
    border-radius: 15px;
    padding: 4px 16px;
}
.flexible-container{
    display:flex;
}
.top-banner{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-banner{
    background-image: url(images/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    margin: 0%;
}
.text-handling{
    font-size:20px;
    text-align:center;
    padding-left: 15%;
}
.paragraph-handling{
    text-decoration: none;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.recipe-class{
    box-shadow: 20px 20px 50px lightcyan;
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3px;
    padding-bottom: 5px;
    border-radius: 25px;
    display: block;
}
.recipe-class img{
    width: 100%;
    margin-bottom: 4px;
    border-radius: 25px;
}
.recipe-area{
    background-image: linear-gradient(gainsboro,lavender);
    background-size: cover;
    margin:0%;
}
.card{
    box-shadow: 10px 10px 30px lavenderblush;
    width:20%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 6%;
    padding-bottom: 2%;
    margin-bottom: 6%;
    border-radius: 15px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2px;
}
.last-section{
    background-image: linear-gradient(lightsteelblue,gainsboro);
}
.footer-class{
    text-align: center;
    font-size: 15px;
    color: lemonchiffon;
    background-color:black;
    padding-top: 1%;
}